<div class="back">
  <div class="row  py-3 px-6">
    <div class="col d-flex align-items-center m-3">
      <img src="./assets/images/Logo.svg" class="my-0 mx-5" alt="logo">
      <h4 class="my-0 mx-2 txtMenu">Features</h4>
      <h4 class="my-0 mx-2 txtMenu">Pricing</h4>
      <h4 class="my-0 mx-2 txtMenu">Careers</h4>
      <h4 class="my-0 mx-2 txtMenu">Ayuda</h4>
    </div>
    <div class="col d-flex justify-content-center align-items-center ">
      <button mat-flat-button class="mx-5 w-25 h-4 primary rounded" (click)="goToLogin()">Iniciar sesión</button>
      <button mat-flat-button class="mx-5 w-25 rounded">Regístrate</button>
    </div>
  </div>
  <div class="row pt-5 px-6">
    <div class="col d-flex flex-column m-5 p-5">
      <h1 class="descriptionTitle">The easiest way to manage projects</h1>
      <h4 class="descriptionComment">From the small stuff to the big picture, organizes the work so teams know what to do, why it matters, and how to get it done.</h4>
      <div>
        
      </div>
    </div>
    <div class="col d-flex justify-content-center align-items-center ">
      <img src="./assets/images/Phone.svg" class="my-0 mx-5" alt="logo">
    </div>
  </div>

</div>
